<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off">
      <error redirect="/error/404.aspx" statusCode="404" />
    </customErrors>
    <globalization fileEncoding="utf-8" culture="en-CA" uiCulture="en-CA" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;DC DSP COR CURa ADMa DEVa PSAa PSDa CONo OUR STP IND PHY ONL UNI COM NAV INT DEM STA PRE&quot;" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
	</handlers>
    <staticContent>
      <mimeMap fileExtension=".gpi" mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="RedirectReport" stopProcessing="true">
          <match url="^report\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="report/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteReport" stopProcessing="true">
          <match url="^report/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="report.aspx?id={R:1}" />
        </rule>
        <rule name="RedirectSearchOperator" stopProcessing="true">
          <match url="^search/operator\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/operator" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchOperator" stopProcessing="true">
          <match url="^search/operator$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/operator.aspx" />
        </rule>
        <rule name="RedirectSearchContractor" stopProcessing="true">
          <match url="^search/contractor\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/contractor" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchContractor" stopProcessing="true">
          <match url="^search/contractor$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/contractor.aspx" />
        </rule>
        <rule name="RedirectSearchLocation" stopProcessing="true">
          <match url="^search/location\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/location" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchLocation" stopProcessing="true">
          <match url="^search/location$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/location.aspx" />
        </rule>
        <rule name="RedirectDownload" stopProcessing="true">
          <match url="^download\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="download" appendQueryString="false" />
        </rule>
        <rule name="RewriteDownload" stopProcessing="true">
          <match url="^download$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="download.aspx" />
        </rule>
        <rule name="RedirectDownloadFile" stopProcessing="true">
          <match url="^download-file\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="download-file/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteDownloadFile" stopProcessing="true">
          <match url="^download-file/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="download-file.aspx?id={R:1}" />
        </rule>
        <rule name="RedirectContractor" stopProcessing="true">
          <match url="^contractor\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="contractor/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteContractor" stopProcessing="true">
          <match url="^contractor/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="contractor.aspx?id={R:1}" />
        </rule>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^operator\.aspx$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="operator/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^operator/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="operator.aspx?id={R:1}" />
                </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILicenseeMapActivationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://omt.garmin.com/LicenseeMapActivation_V1.0/LicenseeMapActivationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicenseeMapActivationService" contract="UnlockService.ILicenseeMapActivationService" name="BasicHttpBinding_ILicenseeMapActivationService" />
    </client>
  </system.serviceModel>

  <connectionStrings>
    <add name="WellConnectionString" connectionString="Data Source=localhost;Initial Catalog=webonline;User ID=WebUser;Password=651Mon77" providerName="System.Data.SqlClient" />
    <add name="Garmin.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=authentication;User ID=garmin;Password=GPI$dnld$" />
  </connectionStrings>


  <appSettings>
    <add key="Garmin.Login" value="jwnenergy" />
    <add key="Garmin.Password" value="6378unhe" />
    <add key="Garmin.FamilyId" value="1798" />
    <add key="Garmin.AccountTypeId" value="1" />
    <add key="Garmin.Product" value="RIG" />
    <add key="Garmin.FileName" value="rigLocator.gpi" />
    <add key="Garmin.Source" value="http://www.riglocator.ca/gpi/rigLocator.gpi" />
    <add key="Garmin.UnlockSource" value="http://www.riglocator.ca/gpi/unlock.aspx?esn=" />
    <add key="Garmin.GMAUnlockSource" value="http://www.riglocator.ca/gpi/unlockGMAFile.aspx?esn=" />
    <add key="Garmin.ControlDomain" value="http://www.riglocator.ca" />
    <add key="Garmin.ControlUnlock" value="11f51520d63927129528652f66a33dad" />
    <add key="Authentication.ServerUrl" value="https://secure.junewarren-nickles.com/login/service.aspx" />
    <add key="Authentication.LoginUrl" value="https://secure.junewarren-nickles.com/login/" />
    <add key="Authentication.CheckUrl" value="https://secure.junewarren-nickles.com/login/check-id.aspx" />
    <add key="Authentication.ProfileUrl" value="https://secure.junewarren-nickles.com/login/profile.aspx" />
    <add key="Authentication.PubCode" value="RIG_BROWSE" />
    <add key="Authentication.Remote" value="true" />
  </appSettings>

</configuration>
