<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off">
      <error redirect="/error/404.aspx" statusCode="404" />
    </customErrors>
    <globalization fileEncoding="utf-8" culture="en-CA" uiCulture="en-CA" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;DC DSP COR CURa ADMa DEVa PSAa PSDa CONo OUR STP IND PHY ONL UNI COM NAV INT DEM STA PRE&quot;" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
	  </handlers>
    <staticContent>
      <mimeMap fileExtension=".gpi" mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="RedirectSearchOperator" stopProcessing="true">
          <match url="^search/operator\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/operator" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchOperator" stopProcessing="true">
          <match url="^search/operator$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/operator.aspx" />
        </rule>
        <rule name="RedirectSearchContractor" stopProcessing="true">
          <match url="^search/contractor\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/contractor" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchContractor" stopProcessing="true">
          <match url="^search/contractor$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/contractor.aspx" />
        </rule>
        <rule name="RedirectSearchLocation" stopProcessing="true">
          <match url="^search/location\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="search/location" appendQueryString="false" />
        </rule>
        <rule name="RewriteSearchLocation" stopProcessing="true">
          <match url="^search/location$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="search/location.aspx" />
        </rule>
        <rule name="RedirectDownload" stopProcessing="true">
          <match url="^download\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="download" appendQueryString="false" />
        </rule>
        <rule name="RewriteDownload" stopProcessing="true">
          <match url="^download$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="download.aspx" />
        </rule>
        <rule name="RedirectDownloadFile" stopProcessing="true">
          <match url="^download-file\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="download-file/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteDownloadFile" stopProcessing="true">
          <match url="^download-file/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="download-file.aspx?id={R:1}" />
        </rule>
        <rule name="RedirectContractor" stopProcessing="true">
          <match url="^contractor\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="contractor/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteContractor" stopProcessing="true">
          <match url="^contractor/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="contractor.aspx?id={R:1}" />
        </rule>
        <rule name="RedirectOperator" stopProcessing="true">
          <match url="^operator\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="operator/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteOperator" stopProcessing="true">
          <match url="^operator/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="operator.aspx?id={R:1}" />
        </rule>
        <rule name="RedirectReport" stopProcessing="true">
          <match url="^report\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^dir=([^=&amp;]+)&amp;id=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="report/{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteReport" stopProcessing="true">
          <match url="^report/([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="report.aspx?dir={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="RedirectLicenceDate" stopProcessing="true">
          <match url="^licence/date\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^date=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="licence/date/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteLicenceDate" stopProcessing="true">
          <match url="^licence/date/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="licence/date.aspx?date={R:1}" />
        </rule>
        <rule name="RedirectLicenceDailyPDF" stopProcessing="true">
          <match url="^licence/daily-pdf\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="licence/daily-pdf" appendQueryString="false" />
        </rule>
        <rule name="RewriteLicenceDailyPDF" stopProcessing="true">
          <match url="^licence/daily-pdf$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="licence/daily-pdf.aspx" />
        </rule>
        <rule name="RedirectLicencePDFFile" stopProcessing="true">
          <match url="^licence/pdf\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^file=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="licence/pdf/{C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteLicencePDFFile" stopProcessing="true">
          <match url="^licence/pdf/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="licence/pdf.aspx?file={R:1}" />
        </rule>
        <rule name="RedirectLicenceOperator" stopProcessing="true">
          <match url="^licence/operator\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="licence/operator" appendQueryString="false" />
        </rule>
        <rule name="RewriteLicenceOperator" stopProcessing="true">
          <match url="^licence/operator$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="licence/operator.aspx" />
        </rule>
        <rule name="RedirectLicenceLocation" stopProcessing="true">
          <match url="^licence/location\.aspx$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
          </conditions>
          <action type="Redirect" url="licence/location" appendQueryString="false" />
        </rule>
        <rule name="RewriteLicenceLocation" stopProcessing="true">
          <match url="^licence/location$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="licence/location.aspx" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <connectionStrings>
    <add name="WellConnectionString" connectionString="Data Source=localhost;Initial Catalog=webonline;User ID=WebUser;Password=651Mon77" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Authentication.ServerUrl" value="https://secure.junewarren-nickles.com/login/service.aspx" />
    <add key="Authentication.LoginUrl" value="https://secure.junewarren-nickles.com/login/" />
    <add key="Authentication.CheckUrl" value="https://secure.junewarren-nickles.com/login/check-id.aspx" />
    <add key="Authentication.ProfileUrl" value="https://secure.junewarren-nickles.com/login/profile.aspx" />
    <add key="Authentication.PubCode" value="RIG_BROWSE" />
    <add key="Authentication.Remote" value="true" />
  </appSettings>

</configuration>
