<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation batch="false" debug="false"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;DC DSP COR CURa ADMa DEVa PSAa PSDa CONo OUR STP IND PHY ONL UNI COM NAV INT DEM STA PRE&quot;" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".gpi" mimeType="application/octet-stream" />
    </staticContent>
<!--
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.riglocator\.ca$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.riglocator.ca/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  -->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILicenseeMapActivationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://omt.garmin.com/LicenseeMapActivation_V1.0/LicenseeMapActivationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicenseeMapActivationService" contract="UnlockService.ILicenseeMapActivationService" name="BasicHttpBinding_ILicenseeMapActivationService"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="Garmin.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=authentication;User ID=garmin;Password=GPI$dnld$"/>
  </connectionStrings>
  <appSettings>
    <add key="Authentication.Remote" value="false"/>
    <add key="Garmin.Login" value="jwnenergy"/>
    <add key="Garmin.Password" value="6378unhe"/>
    <add key="Garmin.FamilyId" value="1798"/>
    <add key="Garmin.AccountTypeId" value="1"/>
    <add key="Garmin.Product" value="RIG"/>
    <add key="Garmin.FileName" value="rigLocator.gpi"/>
    <add key="Garmin.Source" value="http://www.riglocator.ca/gpi/rigLocator.gpi"/>
    <add key="Garmin.UnlockSource" value="http://www.riglocator.ca/gpi/unlock.aspx?esn="/>
    <add key="Garmin.GMAUnlockSource" value="http://www.riglocator.ca/gpi/unlockGMAFile.aspx?esn="/>
    <add key="Garmin.ControlDomain" value="http://www.riglocator.ca"/>
    <add key="Garmin.ControlUnlock" value="11f51520d63927129528652f66a33dad"/>
  </appSettings>

</configuration>
