body {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            10pt;
  color:                                black;
  background-color:                     white;
  margin-top:                           0px;
  margin-left:                          0px;
  margin-bottom:                        0px;
  margin-right:                         0px;  
}

#body-content {
  width: 966px;
  text-align: left;
  margin: 8px auto;
}

p, li, dd, ul, ol, td {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            10pt;
  font-weight:                          normal;
}

.banner {
  padding: 8px 0;
  text-align: center;
}

.banner div {
  margin: 0 auto;
}

h1,
.heading1 {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            16pt;
  font-weight:                          bold;
}

h2,
.heading2 {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            14pt;
  font-weight:                          bold;
}

h3,
.heading3 {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            12pt;
  font-weight:                          bold;
}

h4, h5, .heading4, .heading5 {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            10pt;
  font-weight:                          bold;
}

h6, .dateline, .sub {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            8pt;
  font-weight:                          normal;
}

pre, input, select {
   font-size:                           8pt;
}

th {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            10pt;
  font-weight:                          bold;
  background-color:                     #E8E8E8;
}

a:link, a:visited {
  color:                                black;
}

a:hover {
  color:                                #F03;
}

.toc, .toc2 {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            9pt;
  font-weight:                          bold;
  padding-top:                          3px;
  padding-bottom:                       3px;
}

.toc2 {
  margin-left:                          1em;
}

.heading-block {
  font-family:                          Helvetica, Arial, sans-serif;
  padding-top:                          1px;
  padding-bottom:                       1px;
  padding-left:                         4px;
  padding-right:                        4px;
  margin-top:                           2px;
  margin-bottom:                        2px;
  background-color:                     #555;
  font-size:                            9pt;
  font-weight:                          bold;
  color:                                white;
}

.svc-heading-block {
  font-family:                          Helvetica, Arial, sans-serif;
  padding-top:                          1px;
  padding-bottom:                       1px;
  padding-left:                         4px;
  padding-right:                        4px;
  margin-top:                           2px;
  margin-bottom:                        2px;
  background-color:                     #808080;
  font-size:                            9pt;
  font-weight:                          bold;
  color:                                white;
}

.heading-block a, .svc-heading-block a {
  color:                                white;
}

.summary {
   font-family:                         Helvetica, Arial, sans-serif;
   font-size:                           9pt;
   font-weight:                         normal;
}

.figure {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            8pt;
  font-weight:                          normal;
  margin-top:                           3px;
  margin-bottom:                        1em;
  text-align:                           center;
}

.nav {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            8pt;
  font-weight:                          bold;
  padding-left:                         1em;
  padding-right:                        1em;
  padding-top:                          2px;
  padding-bottom:                       2px;
  text-align:                           right;
}

.nav a:link, .nav a:visited {
  color:                                black;
  text-decoration:                      none;
}

.nav a:hover {
  color:                                #F03;
}

.nav-section {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            9pt;
  font-weight:                          bold;
  text-align:                           right;
  padding-right:                        1em;
  padding-top:                          3px;
  padding-bottom:                       3px;
  margin-top:                           3px;
  margin-bottom:                        3px;
  color:                                white;
  background-color:                     #555;
}

.menu-text {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            8pt;
  font-weight:                          bold;
  color:                                black;
  text-align:                           right;
  padding-left:                         1em;
  padding-right:                        1em;
  padding-top:                          4px;
  padding-bottom:                       3px;
  text-decoration:                      none;
}

.menu-text a:link,
.menu-text a:visited {
  color:                                black;
  text-decoration:                      none;
}

.menu-text a:hover {
  color:                                #F03;
}
 
.right-nav-block {
  color:                                black;
  background-color:             white;
  margin:                               8px;
  padding:                              6px;
}

.right-nav-block a:link,
.right-nav-block a:visited {
  color:                                black;
}

.right-nav-block a:hover {
  color:                                #F03;
}
 
.query {
   font-family:                         Courier, "Courier New", monospace;
   font-size:                           10pt;
}

.change td {
   background-color:                    #FFFFCC;
   font-weight: bold;
}

.report td, .report th {
  padding-left:                      2px;
  padding-right:                     2px;
  padding-top:                       0px;
  padding-bottom:                    0px;
  margin:                            0px;
  border:                            1px solid #E0D8C0;
  background-color:                  white
}

.report th {
  font-family:                       Helvetica, "Arial", sans-serif;
  font-size:                         8pt;
  font-weight:                       bold;
}

.report .shaded {
  background-color:                     #E8E8E8;
}

.report {
  border-collapse:                  collapse;
}

.report td, .sub td {
  background-color:                  #FFFFFF;
  font-family:                       Helvetica, "Arial", sans-serif;
  font-size: 8pt;
}

#nav-left {
  background-color:                     #E8E8E8;
  padding-bottom:                       1em;
}

#nav-right {
  background-color:                     #808080;
  color:                                #FFFFFF;
}

#upper-menu {
  background-color:                     #D0D0D0;
}

#lower-menu {
  background-color:                     #D0D0D0;
}

#site-description {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            8pt;
  font-weight:                          bold;
  padding-top:                          3px;
  padding-bottom:                       3px;
  margin-left:                          4px;
  margin-right:                         4px;
  text-align:                           center;
  border-bottom:                        1px solid black;
  text-align:                           center;
}

.search-block {
  font-family:                          Helvetica, Arial, sans-serif;
  font-size:                            9pt;
  font-weight:                          bold;
  background-color:                     #E8E8E8;
  padding:                              3px;
  margin-bottom:                        10px;
}

#banner-block {
  position: relative;
  height: 108px;
  background: url(banner.jpg);
}

#last-update {
  text-align: right;
  color: white;
  padding: 90px 12px 4px 0px;
  font-size: 8pt;
}

#footer-block {
  padding-top:                          1em;
  padding-bottom:                       1em;
  padding-left:                         5px;
  padding-right:                        5px;
  background-color:                     #808080;
  color:                                white;
}

#footer-block a:link,
#footer-block a:visited {
  color:                                white;
}

#footer-block a:hover {
  color:                                white;
  text-decoration:                      none;
}

#content-area {
  padding:                              8px;
}

#report-content-area {
  margin-left:                          8px;
  margin-right:                         8px;
  width:                                97.5%;
}

.cm-table td, .cm-table th {
  padding: 0px 4px;
}

.button {
  background: url(button.png);
  background-position: 9px center;
  border: 1px solid #666;
  background-color: #ccc;
  margin: 4px 0px;
  background-repeat: no-repeat;
  height: 42px;
  padding-left: 36px;
  vertical-align: middle;
}

.nauth-form input[type=text],
.nauth-form input[type=password],
.nauth-form select {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.nauth-form .nauth-label {
  padding-top: 0.5em;
}

.nauth-errormsg {
  color: red;
  text-weight: bold;
}

#homepage-map {
  display: block;
  width: 594px;
  height: 178px;
  background: url(map.jpg);
}

